:root {
  --color: black;
  --bs-primary: #4169e1;
  --bs-blue: blue;
  --opacity: 1; 
  --baseSpace: 24px; 
}

html {
  overflow: visible;
}

html,
body {
  height: auto;
  user-select: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  min-width: 90%;
  /* background-color: papayawhip; */
  margin: 0 auto;

  /* font-family: "Quicksand", sans-serif; */
  color: var(--color) !important;

  background-repeat: no-repeat;
  /* background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg); */
  background-size: cover;
}

article {
  margin-bottom: 0px !important;
}

form {
  margin-bottom: 0px !important;
}

.card-img-top {
  height: 80px;
  object-fit: cover;
  width: 100%;
  border: 2px solid silver;
  border-radius: var(--border-radius);
  margin-bottom: calc(0.5 * var(--baseSpace));
}

#app {
  align-items: center;
  border-radius: var(--baseSpace);
  box-sizing: border-box;
  color: var(--color);
  display: flex;
  flex-flow: row wrap;
  gap: var(--baseSpace);
  justify-content: center;
  margin: auto;
  min-height: 400px;

  position: relative;
  width: 100%;
}

footer {
  margin-top: var(--baseSpace);
  background: white;
  opacity: var(--opacity);
}

c-annon {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: var(--opacity);
  flex-basis: 100%;
  margin-left: var(--baseSpace);
  margin-right: var(--baseSpace);
}

c-user {
  display: block;
  opacity: var(--opacity);
}

.plate {
  background: white;
  border-radius: 5px;
  padding: var(--baseSpace);
}

.pageTop {
  text-align: center;
  position: relative;

  opacity: var(--opacity);
  max-width: calc(80vw);
  margin: auto;
}

.paperTop__wrapper {
  box-sizing: border-box;
  width: min(960px, calc(90vw));
  margin: auto;
  margin-top: var(--baseSpace);
  padding: var(--baseSpace);
}

#headline {
  margin: 0;
  margin-bottom: calc(var(--baseSpace) / 2);
  padding: 0;

  font-size: 60px;
  line-height: 1.1;
  font-weight: 500;
}

#tagline {
  font-size: 20px;
}

@media screen and (min-width: 600px) {
  #app {
    padding-left: var(--baseSpace);
    padding-right: var(--baseSpace);
    justify-content: center;
  }
}

@media (min-width: 800px) {
  :root {
    --color: #444444;
  }

  #headline {
    font-size: 110px;
    font-weight: lighter;
  }
}

@media (min-width: 1023px) {
  #headline {
    font-size: 160px;
  }

  #tagline {
    font-size: 30px;
  }
}

/*

OVERRIDE SOME PICO CSS STUFF

*/
@media (min-width: 992px) {

  body>footer,
  body>header,
  body>main,
  section {
    --block-spacing-vertical: calc(var(--spacing) * 2);
  }
}
button{
  margin-bottom: 0px;
}