:root {
  --color: #444444;
  --bs-primary: #4169e1;
  --bs-blue: blue;
  --opacity: 1;
}

html {
  overflow: visible;
}


html,
body {
  height: auto;
}

body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  min-width: 90%;
  /* background-color: papayawhip; */
  margin: 0 auto;

  font-family: "Quicksand", sans-serif;
  

  color:var(--color) !important;


  background-repeat: no-repeat;
 /* background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg); */
  background-size: cover;
}

.card-img-top {
  height: 80px;
  object-fit: cover;
  width: 100%;
}

#app {
  align-items: center;
  border-radius: 20px;
  color: var(--color);
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  max-width: calc(96vw);
  min-height: 400px;

  padding: 2px;

  position: relative;


}

footer {
  margin-top: 20px;
  background: white;
  opacity: var(--opacity);
}

c-annon {
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: var(--opacity);
  flex-basis: 100%;
}

c-user {
  display: block;
  opacity: var(--opacity);
}

.plate {
  background: white;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  #app {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
  }
}

.pageTop {

  /* var(--bs-primary);*/


  text-align: center;

  position: relative;

  opacity: var(--opacity);
  max-width: calc(80vw);
  margin: auto;
}

.paperTop__wrapper {
  box-sizing: border-box;
  width: min(960px, calc(90vw));
  margin: auto;
  padding: 20px;
}

/** Bootstrap overrides */
.btn-primary {
  --color: black;

  --bs-btn-color: #fff;
  --bs-btn-bg: #4169e1;
  --bs-btn-border-color: #4169e1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5ed7;
  --bs-btn-hover-border-color: #0a58ca;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4169e1;
  --bs-btn-disabled-border-color: #4169e1;
}

#tagline {
  font-size: 20px;
}

#headline {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 1.1;
}

@media (min-width: 800px) {
  #headline {

    font-size: 110px;
  }
}

@media (min-width: 1023px) {
  #headline {
    font-size: 160px;
  }

  #tagline {
    font-size: 30px;
  }
}